<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откроем-таблицу-и-изучим-общую-информацию-о-данных" data-toc-modified-id="Откроем-таблицу-и-изучим-общую-информацию-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откроем таблицу и изучим общую информацию о данных</a></span><ul class="toc-item"><li><span><a href="#Импортируем-библиотеку" data-toc-modified-id="Импортируем-библиотеку-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Импортируем библиотеку</a></span></li><li><span><a href="#Откроем-таблицу" data-toc-modified-id="Откроем-таблицу-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Откроем таблицу</a></span></li></ul></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследуем-данные-и-ответим-на-вопросы" data-toc-modified-id="Исследуем-данные-и-ответим-на-вопросы-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследуем данные и ответим на вопросы</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li></ul></li><li><span><a href="#Общий-вывод." data-toc-modified-id="Общий-вывод.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод.</a></span></li></ul></div>

# Исследование надежности заемщиков

## Откроем таблицу и изучим общую информацию о данных

### Импортируем библиотеку

In [1]:
import pandas as pd

### Откроем таблицу

In [2]:
data = pd.read_csv('D:/DA/projects/data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [5]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [6]:
for income in data['income_type'].unique():
    data.loc[(data['income_type'] == income) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == income), 'total_income'].median()

Заполним пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`

In [7]:
for income_employed in data['income_type'].unique():
   
    data.loc[(data['income_type'] == income_employed) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == income_employed), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [8]:
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Обработка аномальных значений

Ранее обнаружили отрицательные значения количества дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [9]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведим медианное значение трудового стажа `days_employed` в днях:

In [10]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получились аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

In [11]:
Выведим перечень уникальных значений столбца `children`.

SyntaxError: invalid syntax (3874308491.py, line 1)

In [ ]:
data['children'].unique()

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [ ]:
data = data[(data['children'] !=-1) & (data['children'] !=20)]

In [ ]:
Ещё раз выведим перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [ ]:
data['children'].unique()

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [ ]:
data['total_income'] = data['total_income'].astype('int')

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`.

In [ ]:
data['education'].unique()

В столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру.

In [ ]:
data['education'] = data['education'].str.lower()

Выведим на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [ ]:
data.duplicated().sum()

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:
- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

Создадим функцию:

In [ ]:
def categorize_income(salary):
    if salary <= 30000:
        return 'E'
    if 30001 <= salary <= 50000:
        return 'D'
    if 50001 <= salary <= 200000:
        return 'C'
    if 200001 <= salary <= 1000000:
        return 'B'
    return 'A'

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведим перечень уникальных целей взятия кредита из столбца `purpose`

In [ ]:
data['purpose'].unique()

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:
- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [ ]:
def categorize_purpose(goal):
    if 'автомобил' in goal:
        return 'операции с автомобилем'
    elif ('жиль' in goal) or ('недвижимост' in goal):
        return 'операции с недвижимостью'
    elif 'свадьб' in goal:
        return 'проведение свадьбы'
    elif 'образовани' in goal:
        return 'получение образования'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуем данные и ответим на вопросы

Создадим функцию для изучения различных зависимостей:

In [ ]:
def data_group(row):
    dt = data.pivot_table(index=row, values=['debt'], aggfunc=['count', 'sum', 'mean'])
    dt = dt.rename(columns={'count' : 'Всего кредитополучателей', 'sum' : 'Всего должников', 'mean' : 'Доля должников'})
    dt['Доля должников'] = round((dt['Доля должников']*100), 2) 
    dt.columns = ['Всего кредитополучателей', 'Количество должников', 'Доля должников']
    return dt

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
data_group('children')

**Вывод:** Из данных видим, что наибольшее количество задолженностей представлена в группе клиентов не имеющих детей - 1063. Это не удивительно, так как эта самая многочисленная группа.
Если же смотреть по долям задолженностей в каждой группе, то видим, что доля дисциплинированных клиентов снижается в каждой группе, где есть 1, 2, 3, или 4 ребенка. При этом не прослеживается прямая зависимость задолженностей от количества детей.
Самая дисциплинированные клиенты это люди имеющие 5 детей. Но при этом это и самая малочисленная группа. Стоит одному из них просрочить платеж, как это сильно ударит по имиджу данной группы, ну и по цифрам.
 Есть ли зависимость между количеством детей и возвратом кредита в срок? - Доля задолженностей, где есть дети будут незначительно больше, где детей нет. Но при этом зависимости от количества детей 1, 2, 3, 4 нет.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
data_group('family_status')

**Вывод:** Доля клиентов с невозвратом кредитов в срок выше среди людей, не состоящих в официальном браке.
Клиенты состоящие в браке или когда-то состояли в браке более дисциплинированные в отношение кредитов.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
data_group('total_income_category')

**Вывод:** 
Категории А, D, и Е малочисленные категории. Поэтому оценим категории В и С. Видим, что у клиентов с более высокими доходами дела обстоят лучше с оплатой кредитов в срок. 7,06 против 8,5.

### Как разные цели кредита влияют на его возврат в срок?

In [ ]:
data_group('purpose_category')

**Вывод:** Хуже с возвратом кредита в срок обстоят дела в категориях 'операции с автомобилем'- 9,34, 'получение образования'- 9,25. Более благонадежные клиенты, люди имеющие дело с недвижимостью.

## Общий вывод.

Итак, мы проанализировали данные и можем, условно, описать два типа клиентов.

Клиент №1, более дисциплинированный:
 - Нет детей
 - Вдовец / Вдова
 - Доход 200001–1000000
 - Покупает недвижимость.
 
Клиент №2, наименее дисциплинированный:
- 4 ребенка
- Не женат / Не замужем
- Доход 0-30000
- Покупает автомобиль

Рекомендуем банку при выдаче кредитов отдавать предпочтение людям из категории «Клиент №1». При выдаче кредита остальным категориям клиентов риски с просрочкой платежей увеличивается.